<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.woodsho.absoluteplan">

    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <!-- for mta statistics -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name=".AbsolutePlanApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_app"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_app"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

        <provider
            android:name=".database.AbsolutePlanProvider"
            android:authorities="com.woodsho.absoluteplan"
            android:exported="false" />

        <service
            android:name=".service.UserActionService"
            android:enabled="true"
            android:exported="false" />

        <service
            android:name=".service.WidgetRemoteViewServiceImp"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <activity
            android:name=".ui.PlanTaskDetailsActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="com.woodsho.absoluteplan.action.PLANTASKDETAILSACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.SettingsActivity" />

        <activity android:name=".ui.FeedbackSuggestionActivity" />

        <activity android:name=".ui.AboutActivity" />

        <activity android:name=".ui.OpenSourceActivity" />

        <activity android:name=".ui.SkinActivity" />

        <activity android:name=".ui.AvatarActivity" />

        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>

        <activity android:name=".ui.ShareActivity" />

        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Fullscreen.Translucent" />

        <activity android:name=".ui.SideTitleActivity" />

        <receiver
            android:name=".ui.AbsPlanWidgetProvider"
            android:exported="false">
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/absplan_widget_provider" />
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.woodsho.absoluteplan.action.APPWIDGET.ADD_PLANTASK_CLICK" />
                <action android:name="com.woodsho.absoluteplan.action.APPWIDGET.LISTVIEW_ITEM_CLICK" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".ui.AbsPlanWidgetProvider4x3"
            android:exported="false">
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/absplan_widget_provider_4x3" />
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.woodsho.absoluteplan.action.APPWIDGET.ADD_PLANTASK_CLICK_4x3" />
                <action android:name="com.woodsho.absoluteplan.action.APPWIDGET.LISTVIEW_ITEM_CLICK_4x3" />
            </intent-filter>
        </receiver>

    </application>

</manifest>